<!doctype html>
<html>
    <head>
        <title>{{ title }} | {{ global.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ pathtoroot }}_styles/chapters.css">
    </head>
    <body>
        {{ content }}
    </body>
</html>