.screenreader{
    @extend %screenreader;
}

html{
    margin:0;
    padding:0;
    font-size: $rem;
}

*{
    box-sizing: border-box;
}

.page-wrapper{
    --foreground: #000;
    --background: #fff;

    position: relative;
    min-height: 100vh;
    background-color: $background;
    color: $foreground;
    font-family: $body-font;
    z-index:0;

    &::before{
        content:"";
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background: $background;
        z-index: -1000;
    }
}

main{
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    margin-left: $side-gutter;
    margin-right: $side-gutter;
}

a{
    text-decoration: none;
    outline: none;
    font-family: $ui-font;
    color: $foreground;
    opacity: 0.8;
    background-image: linear-gradient(to right, currentcolor, currentcolor);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: opacity 0.2s ease, background-size 0.2s ease;

    &:hover, &:focus{
        opacity: 1;
        background-position: bottom left;
        background-size: 100% 2px;
    }
}

p a{
    font-family: $body-font;
}

p{
    line-height:1.9;
    text-indent: 2em;
    margin:0;
}

.no-indent{
    @extend %no-indent;
}

h1{
    font-weight: normal;
    font-size: 1.8rem;

    @media screen and (min-width: 425px){
        font-size: 2rem;
    }
}

h2{
    font-weight: normal;
    font-size: 1.4rem;
    margin-top: 1.4em;
}

footer{
    font-family: $ui-font;
    color: $foreground;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: $side-gutter;
    margin-right: $side-gutter;
    padding-bottom: 2rem;
    opacity: 0.7;
    p{
        text-indent: 0;
        margin:0;
    }
}

%darkmode--page-wrapper{
    --foreground: #fff;
    --background: #{$off-black};
}