@import 'normalize';

$foreground: var(--foreground, #000);
$background: var(--background, #fff);
$body-font: 'Crimson Text', serif;
$ui-font: 'Raleway', sans-serif;

$rem: 17px;

.screenreader{
    position:absolute;
    display: block;
    width:1px;
    height:1px;
    opacity: 0;
    overflow: hidden;
    cursor: default;
    pointer-events: none;
}

html{
    margin:0;
    padding:0;
    font-size: $rem;
}

*{
    box-sizing: border-box;
}

body{
    --foreground: #000;
    --background: #fff;
    &.darkmode{
        --foreground: #fff;
        --background: #000;
    }

    position: relative;
    margin:0;
    padding:0;
    width:100vw;
    min-height: 100vh;

    background-color: $background;
    color: $foreground;
    font-family: $body-font;
}

main{
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

a{
    text-decoration: none;
    outline: none;
    font-family: $ui-font;
    color: $foreground;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    position:relative;
    &::after{
        content:'';
        position:absolute;
        height: 2px;
        top: 100%;
        left:0;
        right:0;
        background: $foreground;
        transform: scalex(0);
        transition: transform 0.2s ease;
    }
    &:hover, &:focus{
        opacity:1;
        &::after{
            transform: scalex(1);
        }
    }
}

p{
    line-height:1.9;
    text-indent: 2em;
    margin:0;
}

h1{
    font-weight: normal;
    font-size: 1.8rem;

    @media screen and (min-width: 425px){
        font-size: 2rem;
    }
}

footer{
    font-family: $ui-font;
    color: $foreground;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 0.6;
    p{
        text-indent: 0;
        margin:0;
    }
}
.darkmode footer{
    opacity: 0.7;
}