$menu-width: 350px;
$btn-size: 2.5rem;
$btn-margin: 0.6rem;
$menu-icon-size:1.3rem;
$darkmodebtn-width: 2.5rem;

header{
    padding:1rem $side-gutter 0;
    margin-bottom:2.4rem;
    position:relative;

    & > * {
        vertical-align: middle;
    }

    @media screen and (min-width: 768px){
        padding-top:1.75rem;
    }

    @media screen and (min-width: 1024px){
        padding-top: 2.5rem;
    }
}

.booktitle{
    display:inline-block;
    font-size: 2rem;
    margin:0;
    margin-right: $darkmodebtn-width + 1rem;

    a{
        font-family: $body-font;
        opacity:1;
    }
}

.menubtn{
    cursor:pointer;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: $btn-size;
    width: $btn-size;
    margin-left: calc((#{$btn-size} - #{$menu-icon-size})/-2);
    margin-right: $btn-margin;
    outline:none;
    position:relative;
    flex-shrink:0;
    z-index: $menu-zindex + 1;
    
    &::before{
        content:'';
        display: block;
        position: absolute;
        z-index:-1;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background:$foreground;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s ease;
    }
}

%menubtn-hover{
    &::before{
        transform: scale(1);
        opacity: 1;
    }

    .menuicon div{
        background: $background;
    }
}

.menubtn:hover{
    @extend %menubtn-hover;
}

.menuicon{
    width:$menu-icon-size;
    height:1rem;
    position:relative;
    div{
        height: 0.2rem;
        background: $foreground;
        border-radius: 0.2rem;
        position: absolute;
        left:0;
        right:0;
        top: calc(50% - 0.1rem);
        transition: transform 0.2s ease, opacity 0.2s ease;
        &:first-child{
            transform:translateY(-0.5rem);
        }
        &:last-child{
            transform: translateY(0.5rem);
        }
    }
}

.menu-container{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 100%);
    overflow: auto;
    padding: 0 #{$side-gutter};
    z-index: $menu-zindex - 1;
    transition: clip-path 0.5s ease;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

    nav{
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease 0.3s;
    }
}

.menu{
    background-color: $background;
    padding: 0 calc(#{$btn-size} + 0.5rem);
    @media screen and (min-width: 768px){
        max-width: 420px;
    }
}

.darkmodebtn{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: $side-gutter;
    z-index: $darkmodebtn-zindex;
    width: $darkmodebtn-width;
    height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
    background-color: $foreground;
    color: $background;
    transform: translateY(-0.7rem);
    transition: transform 0.3s ease;
}

%darkmode-hover{
    transform: translateY(0);
}

.darkmodebtn:hover{
    @extend %darkmode-hover;
}

%header-open{

    .menuicon{
        div{
            &:first-child{
                transform: rotate(45deg) scalex(1.1);
            }
            &:last-child{
                transform: rotate(-45deg) scalex(1.1);
            }
            &:nth-child(2){
                transform: scaleX(0);
                opacity:0;
            }
        }
    }

    .menu-container{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

        nav{
            visibility: visible;
            opacity: 1;
        }
    }
}