@import 'toc';

$btn-size: 44px;
$btn-margin: 10px;

header{
    margin-top: 0.6rem;
    margin-bottom: 1.4rem;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (min-width: 425px){
        margin-top:1rem;
        margin-bottom:2.4rem;
    }

    @media screen and (min-width: 768px){
        margin-top:1.75rem;
    }

    @media screen and (min-width: 1024px){
        margin-top: 2.5rem;
    }

    .btn{
        cursor:pointer;
        display:inline-block;
        height: $btn-size;
        width: $btn-size;
        outline:none;
        position:relative;
        vertical-align: middle;
        text-align: center;
        flex-shrink:0;

        transition: color 0.3s ease;

        i, i::before{
            line-height: $btn-size;
        }
        
        &::before{
            content:'';
            display: block;
            position: absolute;
            z-index:-1;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background:$foreground;
            border-radius: 50%;
            transform: scale(0);
            opacity: 0;
            transition: 0.3s ease;
        }
        &:hover, &:focus{
            color:$background;
            &::before{
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    #menubtn-secretcheckbox{
        & ~ nav{
            display:none;
        }
        &:checked ~ nav{
            display: block;
        }
        &:checked ~ .menubtn{
            .menuicon{
                div{
                    &:first-child{
                        transform: rotate(45deg) scalex(1.1);
                    }
                    &:last-child{
                        transform: rotate(-45deg) scalex(1.1);
                    }
                    &:nth-child(2){
                        transform: scaleX(0);
                        opacity:0;
                    }
                }
            }
        }
    }
    .menubtn{
        position: relative;
        display:inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: calc((#{$btn-size} - 1em)/-2);
        margin-right: $btn-margin;
        &:hover, &:focus{
            .menuicon div{
                background: $background;
            }
        }
    }
    .menuicon{
        width:1.3rem;
        height:1rem;
        position:relative;
        div{
            height: 0.2rem;
            background: $foreground;
            border-radius: 0.2rem;
            position: absolute;
            left:0;
            right:0;
            top: calc(50% - 0.1rem);
            transition: transform 0.2s ease, opacity 0.2s ease;
            &:first-child{
                transform:translateY(-0.5rem);
            }
            &:last-child{
                transform: translateY(0.5rem);
                
            }
        }
    }


    nav{
        position:absolute;
        left:0;
        top:100%;
        box-sizing:content-box;
        max-width:100%;
        z-index: 10;
        background:$background;
        padding-left:inherit;
        padding-right:5rem;
        padding-top: 0;
        padding-bottom: 1rem;
        overflow: scroll;
    }

    .booktitle{
        display:inline-block;
        vertical-align:middle;
        font-size: 2rem;
        margin:0;
        font-weight: 600;
        min-height: 100%;
        flex:1;

        a{
            font-family: $body-font;
            opacity:1;
        }
    }
}