.tableofcontents{
    list-style-type: none;
    padding-inline-start: 44px;

    li{
        margin: 0.3em 0;
    }

    a{
        position: relative;
        &::before{
            $arrow-size: 5px;
            content:'';
            display: block;
            box-sizing:content-box;
            height:0;
            width:0;
            border-top:$arrow-size transparent solid;
            border-left:$arrow-size $foreground solid;
            border-bottom:$arrow-size transparent solid;
            position: absolute;
            right:calc(100% + 5px);
            top: calc(50% - #{$arrow-size});

            opacity: 0;
            transform: translateX(3px);
            transition: 0.1s ease-out;
            transition-property: opacity, transform;
        }
        &::after{
            display:none;
        }
    }

    a:hover, a:focus{
        &::before{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .currentpage a{
        font-weight: 600;
        opacity: 1;
    }
}