<header>
    <label class="btn menubtn" for="menubtn-secretcheckbox" role="button" tabindex="0"><i class="fas fa-bars" aria-label="Menu"></i></label>
    <input type="checkbox" id="menubtn-secretcheckbox" hidden>
    <nav aria-label="Table of Contents">
        <label class="btn closebtn" for="menubtn-secretcheckbox" role="button" tabindex="0"><i class="fas fa-times" aria-label="Close"></i></label>
        <h1 class="booktitle">{{ global.title }}</h1>

        {% include partials/tableofcontents %}
    </nav>
    <h1 class="booktitle">{{ global.title }}</h1>
</header>