<header>
    <label class="menubtn" for="menubtn-secretcheckbox" role="button" tabindex="0"><i class="fas fa-bars"></i></label>
    <input type="checkbox" id="menubtn-secretcheckbox" hidden>
    <nav aria-label="Table of Contents" class="tableofcontents">
        <label for="menubtn-secretcheckbox">x</label>
        {% include partials/tableofcontents %}
    </nav>
    <h1 class="booktitle">{{ global.title }}</h1>
</header>