<nav class="prevnext">
    <span class="previous">
        {%- if pagination.previousPageHref -%}
        <a href="{{pagination.previousPageHref}}">Previous chapter</a>
        {%- endif -%}
    </span>
    <span class="next">
        {%- if pagination.nextPageHref -%}
        <a href="{{pagination.nextPageHref}}">Next chapter</a>
        {%- endif -%}
    </span>
</nav>