<ul class="tableofcontents">
    {%- for chapter in collections.rawChapters -%}
        <li {% if page.url == chapter.url %}class="currentpage"{% endif %}><a href="{{ chapter.url }}">{{ chapter.data.number | romanNumeralsAccessible }}: {{ chapter.data.title }}</a></li>
    {%- endfor -%}
</ul>